#general
## Find the appropriate device.  If there are multiples, change glob index.
base_dir = '/sys/bus/w1/devices/'
device_folder = glob.glob(base_dir + '28*')[0]
device_file = device_folder + '/w1_slave'

# MQTT Stuff
mqttbroker=""
mqttport=""
mqtttopic=""
mqttuser=""
mqttpass=""

# database options
dbuser=""
dbpassword=""
dbhost=""
dbdatabase=""

# sensorloc options
# 1 = garage
# 2 = freezer
# 3 = basement
# 4 = attic
sensorloc=""

# sensordesc options
# 1 = garage door open
# 2 = garage door closed
# 3 = temperature
sensordesc=""
